<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="background-container">
  <div class="container1">
    <div *ngFor="let strucnjak of logovaniStrucnjak">
      <div class="profil-info-container">
        <div class="container-profilnaSlika">
            <img src={{strucnjak.slika}}
            class="profilna img-thumbnail">
        </div>
        <div class="container-podaci">
            <h2 style="text-align: center;"><b>Vaši podaci</b></h2>
            <div class="well well-sm a">
              <b>Ime: {{strucnjak.ime}}</b>
            </div>
            <div class="well well-sm a">
              <b>Prezime: {{strucnjak.prezime}}</b>
            </div>
            <div class="well well-sm a">
              <b>Datum rođenja: {{strucnjak.datumRodjenja}}</b>
            </div>
            <div class="well well-sm a">
              <b>Korisničko ime: {{strucnjak.korisnickoIme}}</b>
            </div>
            <!-- <div class="well well-sm a">
              <b>Lozinka: {{strucnjak.sifra}}</b>
            </div> -->
            <div class="well well-sm a">
              <b>Pol: {{strucnjak.pol}}</b>
            </div>
            <div class="well well-sm a">
              <b>Stanje na računu: {{strucnjak.kolicinaNovca}}</b>
            </div>
            <div class="well well-sm a">
              <b>E-mail adresa: {{strucnjak.email}}</b>
            </div>
            <div class="well well-sm a">
              <b>Oblast struke: {{strucnjak.oblastStruke}}</b>
            </div>
            <div class="well well-sm a">
              <b>Obrazovanje: {{strucnjak.obrazovanje}}</b>
            </div>
            <div class="well well-sm a">
              <b>Broj računa: {{strucnjak.brojRacuna}}</b>
            </div>
          </div>
      </div>
      <hr>
      <h2 style="text-align: center;"><b>Ažurirajte svoj profil</b></h2>
      <h2 style="text-align: center;"><b>Popunite samo ona polja koja želite da izmenite</b></h2>
      <h6>Izaberite sliku: </h6>
          <input type="file"
            accept="image/*"
            class="text-center center-block file-upload"
            (change)="onChangeSlika($event)"/>
          <br />
          <br />
          <label><b>Ime: </b></label>
          <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Unesite novo ime" 
            name="ime"
            (keyup)="onIzmeniIme($event)"
              required />
          </div>
          <label><b>Prezime: </b></label>
          <div class="form-group">
            <input type="text"
              placeholder="Unesite novo prezime"
              name="prezime"
              class="form-control"
              (keyup)="onIzmeniPrezime($event)"
              required/>
          </div>
          <label><b>Datum rođenja: </b></label>
          <div class="form-group">
            <input (change)="onIzmeniDatum($event)"
              type="date"
              class="form-control"
              name="datumRodjenja"
              required/>
          </div>
          <label><b>Oblast struke: </b></label>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Unesite novu oblast struke"
              name="Oblast struke"
              required
              (keyup)="onIzmeniOblastStruke($event)"/>
          </div>
          <label><b>Obrazovanje: </b></label>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Unesite novi završeni fakultet"
              name="Obrazovanje"
              required
              (keyup)="onIzmeniObrazovanje($event)"/>
          </div>
          <label><b>Broj računa: </b></label>
          <div class="form-group"> 
            <input type="number"
              placeholder="Unesite novi broj računa"
              name="Obrazovanje"
              class="form-control"
              required
              (keyup)="onIzmeniBrojRacuna($event)"/>
          </div>
          <label for="pol"><b>Pol: </b></label>
          <br />
          <div class="radio">
            <input type="radio" style="margin-left: 0;"id="male" name="gender" value="M" (change)="onIzmeniPol($event)" />
            <label class="izaberiPol">Muški</label>
          </div>
          <div class="radio">
            <input type="radio" style="margin-left: 0;"id="female" name="gender" value="Z" (change)="onIzmeniPol($event)" />
            <label class="izaberiPol"  >Ženski</label>
          </div>
          <br />          
          <!--<label><b>Lozinka: </b></label>
          <div>
            <input type="password"
              placeholder="Unesite lozinku"
              name="password"
              class="form-control"
              required
              (keyup)="onIzmeniLozinka($event)"/>
          </div>
          <br>-->
      <div class="container-azurirajPodatke">
          <button class="btnAzurirajP btn btn-primary btn-lg" (click)="onIzmeniProfil()"  routerLink="/pocetna"> Ažuriraj profil</button>
          <button class="btnIzbrisi btn btn-danger btn-lg" (click)="onIzbrisiProfil()" routerLink="/pocetna" > Izbriši profil <fa-icon [icon]="faTrash"></fa-icon></button>
          <button class="btnNazzad btn btn-danger btn-lg"  routerLink="/pocetna-strucno-lice" >Nazad <fa-icon [icon]="faXmark"></fa-icon></button>
      </div>
  </div>
  </div>
</div>
</body>