<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <app-nav-bar-posetilac> </app-nav-bar-posetilac>
    <div class="pozadinski-container">
        <div class="pocetna1-posetilac-container">
            <div class="page-header"> 
                <h1 class="naslovni-text">Dobrodošli na Healthy&Fit portal</h1>
            </div>
            <div class="registracija-container">
                <button a routerLink="/registracija" class="btn btn-primary btn-lg"> Registruj se</button> 
            
                <button a routerLink="/registracija-strucno-lice" class="btn btn-primary btn-lg"> Postani Stručno Lice</button>
            </div>
        </div>
        <div class="pocetna2-posetilac-container">
            <div class="p2p-sadrzaj">
                <h3><i>Nemoj da čekaš najbolji trenutak. 
                    Nikad ništa neće biti savršeno. 
                    Uvek će biti izazova, prepreka, uslovi koji su daleko od savršenih. 
                    Pa šta? Počni sad. 
                    Sa svakim korakom koji napraviš bićeš snažniji i snažniji, veštiji, 
                    samopouzdaniji, zadovoljniji i uspešniji.
                </i></h3>
            </div>
        </div>
        <div class="pocetna3-posetilac-container">
            <div class="p3p-sadrzaj">
                <h3 style="color: white;"><i>
                    Ako pokušavate nešto da postignete, 
                    uvek ćete imati barikade. Svi su ih imali, 
                    ali one ne moraju da vas zaustave. Ako naiđete na zid, 
                    nemojte da se okrenete i odustanete. Otkrijte kako da se popnete, 
                    prođete kroz njega ili radite oko njega.
                </i></h3>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="copy-container">
                <h5>@Copyright2022</h5>
            </div>
            <div class="dan-container">
                <h5>DAN-Team</h5>
            </div>
            <button a routerLink="/admin-prijavljivanje" class="btn btn-primary btn-sm odrz"> Održavanje sistema</button>
        </div>
    </nav> 
</body>