.popup{
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 30%;
  top: 50%;
  width: 40%; /* Full width */
  height: 32%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(124, 173, 225);
  border: 1px solid black;
}
.popup-info-container{
  text-align: left;
  background-color: white;
}
.container-dugmad{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;

}
.heder-popup{
  text-align: center;
  line-height: 0.3cm;
}
h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}