.popup-uplata{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 246, 88);
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.container-dugmad{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.background-container{
    display: flex;
    flex-direction: column;
    background-color:rgb(17, 97, 43);
}